<div class="studentList-container">
    <span class="batch-heading"><%=batch.name%></span>
    <table class="student-table">
        <thead>
            <tr>
                <th>Id </th>
                <th>Name</th>
                <th>College</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody class="student-body" id="<%=batch.id%>">
            <%for(student of batch.students){%>
                <tr id="<%= student.id%>">
                    <td>
                        <%=student.studentId%>
                    </td>

                    <td>
                        <%=student.name%>
                    </td>

                    <td>
                        <%=student.college%>
                    </td>

                    <td>
                        <%=student.status%>
                    </td>

                    <td>
                        <button onclick="viewStudentDetail('<%=student.id%>')">View</button>
                        <%if(locals.user && locals.user.id==student.user._id){%>
                            <button class="detail-btn" onclick="deleteStudents('<%=student.id%>','<%=batch.id%>')">Delete</button>
                            <%}%>
                    </td>
                </tr>
                <tr id="<%= student.id+'row'%>">
                    <td class="more-details-container" colspan="5" id="<%= student.id+'details'%>">
                        <!----------------------------Course table----------------------------------->
                        <!------------------------Interview List--------------------------------->
                    </td>
                </tr>
                <%}%>
        </tbody>
    </table>



</div>