<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/login_signup.css">
    <link rel="stylesheet" href="/css/layout-pages-container.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/batch.css">
    <link rel="stylesheet" href="/css/student.css">
    <link rel="stylesheet" href="/css/interview.css">
    <link rel="stylesheet" href="/css/forms.css">

    <!--<link rel="stylesheet" href="/css/batches.css">
    <link rel="stylesheet" href="/css/students.css">
    <link rel="stylesheet" href="/css/interviews.css">-->

    <%- style %>
</head>

<body>
    <%- include('_header'); %>

        <main id="layout-main">
            <%- body %>
        </main>

        <%- include('_footer'); %>

            <%- script %>
                <script src="/js/batch.js"></script>
                <script src="/js/student.js"></script>
                <script src="/js/courseScore.js"></script>

</body>

</html>